# Server
PORT=3000
NODE_ENV=development

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=portal_desa

# JWT
JWT_SECRET=ganti_dengan_secret_yang_sangat_panjang_dan_acak
JWT_EXPIRES_IN=8h

# Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads

# App Info
APP_NAME=Portal Desa
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5500
